<div class="min-h-screen w-full relative bg-cover bg-center transition-all duration-1000" style="background-image: url('createPost.jpg');">
    <!-- Formulario -->
    <div class="absolute inset-0 w-full h-full flex items-center justify-center">
      <div class="bg-white bg-opacity-10 p-8 rounded-xl shadow-xl w-full max-w-md space-y-6">
        <!-- Cabecera con logo y título -->
        <div class="flex items-center justify-center mb-8">
          <h1 class="text-3xl font-bold text-pink-500">PostMaster</h1>
        </div>
  
        <!-- Formulario para crear el post -->
        <app-form-post></app-form-post>
      </div>
    </div>
  </div>
  