<div class="min-h-screen w-full relative bg-cover bg-center transition-all duration-1000" style="background-image: url('cat.jpg');">
    <!-- Formulario -->
    <div class="absolute inset-0 w-full h-full flex items-center justify-center">
      <div class="bg-white bg-opacity-10 p-8 rounded-xl shadow-xl w-full max-w-md space-y-6 ">
        <!-- Cabecera con logo y nombre ficticio -->
        <div class="flex items-center mb-8">
          
          <h1 class="text-3xl  text-pink-500  ">PostMaster</h1>
        </div>
        
        <!-- Formulario de login -->
        <app-form-login></app-form-login>
  
        <!-- Registro -->
        <div class="text-center mt-6  backdrop-blur-sm">
          <p class="font-bold text-pink-380 hover:underline  ">
            ¿No tienes cuenta? <a href="register" class="font-bold text-pink-380 hover:underline">Regístrate aquí</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  